@font-face {
	font-family: 'steam-icons';
	src:url('fonts/steam-icons.eot');
	src:url('fonts/steam-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/steam-icons.svg#steam-icons') format('svg'),
		url('fonts/steam-icons.woff') format('woff'),
		url('fonts/steam-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.stm {
	font-family: 'steam-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.stm-trade-tf:before {
	content: "\e000";
}
.stm-tftv:before {
	content: "\e001";
}
.stm-tf2wh:before {
	content: "\e002";
}
.stm-tf2r:before {
	content: "\e004";
}
.stm-tf2-pricecheck:before {
	content: "\e005";
}
.stm-tf2outpost:before {
	content: "\e006";
}
.stm-tf2:before {
	content: "\e007";
}
.stm-steamrep:before {
	content: "\e008";
}
.stm-steam:before {
	content: "\e009";
}
.stm-scrap-tf:before {
	content: "\e00a";
}
.stm-scrapbank-me:before {
	content: "\e00b";
}
.stm-lucky-tf:before {
	content: "\e00c";
}
.stm-kritzkast:before {
	content: "\e00d";
}
.stm-dota2traders:before {
	content: "\e00e";
}
.stm-dota2lounge:before {
	content: "\e00f";
}
.stm-dota2:before {
	content: "\e010";
}
.stm-dispenser-tf:before {
	content: "\e011";
}
.stm-crystal-bazaar:before {
	content: "\e012";
}
.stm-counter-strike:before {
	content: "\e013";
}
.stm-cc-zero:before {
	content: "\e014";
}
.stm-cc-share:before {
	content: "\e015";
}
.stm-cc-sa:before {
	content: "\e016";
}
.stm-cc-remix:before {
	content: "\e017";
}
.stm-cc-nd:before {
	content: "\e018";
}
.stm-cc-nc-jp:before {
	content: "\e019";
}
.stm-cc-nc-eu:before {
	content: "\e01a";
}
.stm-cc-nc:before {
	content: "\e01b";
}
.stm-cc-by:before {
	content: "\e01c";
}
.stm-cc:before {
	content: "\e01d";
}
.stm-backpack-tf:before {
	content: "\e01e";
}
.stm-bazaar-tf:before {
	content: "\e01f";
}
.stm-bz-ps:before {
	content: "\e021";
}
.stm-bz-gs:before {
	content: "\e022";
}
.stm-bz-sd:before {
	content: "\e023";
}
.stm-bz-ed:before {
	content: "\e025";
}
.stm-bz-sc:before {
	content: "\e026";
}
.stm-bz-rt:before {
	content: "\e027";
}
.stm-bz-d50:before {
	content: "\e028";
}
.stm-bz-d100:before {
	content: "\e024";
}
.stm-bz-tto:before {
	content: "\e020";
}
